.page-top-anchor {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background: #fff;
}

.l-footer {
  position: relative;
  z-index: 1;
  padding: 45px 12px 115px;
  background-color: #d70c25;
}

.l-footer__logo img,
.l-footer__logo-link img,
.l-footer__sns-link img,
.header__logo img {
  width: 100%;
}

.l-footer__sns {
  display: flex;
  justify-content: center;
  margin-top: 38px;
}

.l-footer__sns-item {
  padding: 0 10px;
}

.l-footer__sns-link {
  display: block;
  width: 51px;
  height: 51px;
}

.l-footer__list {
  margin-top: 15px;
  text-align: center;
}

.l-footer__link {
  display: inline-block;
  padding: 0 13px;
  margin-top: 13px;
  font-size: 11px;
  color: #fff;
  letter-spacing: 0.2em;
}

.l-footer__block {
  margin-top: 20px;
}

.l-footer__copy,
.l-footer__text {
  color: #ff8695;
  text-align: center;
}

.l-footer__copy {
  letter-spacing: 0.03em;
}

.l-footer__copy small,
.l-footer__text {
  font-size: 11px;
}

.l-footer__text {
  margin-top: 3px;
}

.l-footer__logo-link {
  position: absolute;
  right: 8px;
  bottom: 8px;
  display: inline-block;
  width: 16.5%;
}

.l-footer::before {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  padding-top: 62.53%;
  content: '';
  background-image: url('/assets/images/pages/common/footer_obj_sm.png');
  background-position: bottom 0 right 0;
  background-size: contain;
}

.page-pc {
  @include media-breakpoint-up(md) {
    .page-top-anchor {
      height: 90px;
      padding-left: 10px;

      img {
        width: 56px;
      }
    }

    .l-footer {
      padding: 35px 0;
      background-size: 500px;
    }

    .l-footer__logo {
      width: 526px;
      margin: 0 auto;
    }

    .l-footer__sns {
      margin-top: 60px;
    }

    .l-footer__sns-link {
      transition: transform 0.2s;
    }

    .l-footer__sns-link:hover {
      transform: scale(1.06);
    }

    .l-footer__link {
      margin-top: 25px;
      font-size: 13px;
    }

    .l-footer__link:hover {
      text-decoration: underline;
    }

    .l-footer__block {
      display: flex;
      justify-content: center;
      margin-top: 35px;
    }

    .l-footer__copy small,
    .l-footer__text {
      font-size: 13px;
    }

    .l-footer__text {
      margin-left: 180px;
    }

    .l-footer__logo-link {
      right: 16px;
      bottom: 16px;
      width: 110px;
    }

    .l-footer::before {
      height: 500px;
      padding-top: 0;
      background-image: url('/assets/images/pages/common/footer_obj_md.png');
    }
  }
}
