.contribution {
  position: relative;

  @include media-breakpoint-up(md) {
    background: url(./../../../images/pages/index/contribution_bg.jpg);
  }

  &__content {
    margin: 0 -25px;

    @include media-breakpoint-up(md) {
      margin: auto;
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}
