.event {
  position: relative;
  background: #fffbf6;

  &__content {
    margin: 0 -25px;

    @include media-breakpoint-up(md) {
      margin: auto;
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  &__twitter {
    position: absolute;
    right: 25px;
    bottom: 70px;
    left: 25px;
    margin: auto;

    @include media-breakpoint-up(md) {
      right: 0;
      bottom: 140px;
      left: 0;
      width: 488px;
      height: auto;
    }
  }
}
