.solution {
  position: relative;
  background: #e21524;

  .l-container {
    @include media-breakpoint-up(md) {
      width: 1280px;
    }
  }

  &__lead {
    margin: 0 -25px;

    @include media-breakpoint-up(md) {
      margin: 0;
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}
