<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <%- include('/anti-clickjack') %>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>医療従事者応援企画「キット伝わるエールの輪」 | KITKAT（キットカット）</title>
  <meta name="description" content="最前線で働く医療従事者の方々に向けて、ネスレ日本が”キットカット”を通じて支援活動を行います。">

  <meta property="og:title" content="医療従事者応援企画「キット伝わるエールの輪」 | KITKAT（キットカット）">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://nestle.jp/brand/kit/kitkatyell/assets/images/pages/common/ogp.jpg">
  <meta property="og:url" content="https://nestle.jp/brand/kit/kitkatyell/">
  <meta property="og:description" content="最前線で働く医療従事者の方々に向けて、ネスレ日本が”キットカット”を通じて支援活動を行います。">
  <meta name="twitter:card" content="summary">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="https://nestle.jp/brand/kit/apple-touch-icon.png">
  <link rel="shortcut icon" href="https://nestle.jp/brand/kit/wp-content/themes/breaktown/images/favicon.ico" />
  <link rel="shortcut icon" href="https://nestle.jp/brand/kit/apple-touch-icon.png">

  <%- include('/gtm-head') %>

  <link rel="stylesheet" href="/brand/kit/kitkatyell/assets/styles/main.css">
  <link rel="stylesheet" href="/brand/kit/kitkatyell/assets/styles/pages/common/style.css">
  <link rel="stylesheet" href="/brand/kit/kitkatyell/assets/styles/pages/index/style.css">
</head>

<body>

  <%- include('/gtm-body') %>

  <div class="l-page page-pc">

    <main class="l-main">

      <section class="sec-kv">
        <div class="l-container">
          <p class="sec-kv__content">
            <picture>
              <source media="(min-width: 768px)" srcset="/brand/kit/kitkatyell/assets/images/pages/index/kv_content_md.jpg">
              <img src="/brand/kit/kitkatyell/assets/images/pages/index/kv_content.jpg" alt="">
            </picture>
          </p>
        </div>
      </section>

      <div class="solution">
        <div class="l-container">
          <div class="solution__lead">
            <picture>
              <source media="(min-width: 768px)" srcset="/brand/kit/kitkatyell/assets/images/pages/index/solution_content_md.jpg">
              <img src="/brand/kit/kitkatyell/assets/images/pages/index/solution_content.jpg" alt="">
            </picture>
          </div>
        </div>
      </div>
<!-- 
      <div class="contribution">
        <div class="l-container">
          <div class="contribution__content">
            <picture>
              <source media="(min-width: 768px)"
                srcset="/brand/kit/kitkatyell/assets/images/pages/index/contribution_content_md.jpg">
              <img src="/brand/kit/kitkatyell/assets/images/pages/index/contribution_content.jpg" alt="">
            </picture>
          </div>
        </div>
      </div> -->

      <div class="event">
        <div class="l-container">
          <div class="event__content">
            <picture>
              <source media="(min-width: 768px)"
                srcset="/brand/kit/kitkatyell/assets/images/pages/index/event_content_md.jpg">
              <img src="/brand/kit/kitkatyell/assets/images/pages/index/event_content.jpg" alt="">
            </picture>
            <a href="https://twitter.com/share?text=%0D%0A%E5%8C%BB%E7%99%82%E5%BE%93%E4%BA%8B%E8%80%85%E3%81%AE%E6%96%B9%E3%81%9F%E3%81%A1%E3%81%AB%E5%90%91%E3%81%91%E3%81%9F%E3%82%A8%E3%83%BC%E3%83%AB%E3%82%92%E5%85%A5%E5%8A%9B%E3%81%97%E3%81%A6%E3%81%8F%E3%81%A0%E3%81%95%E3%81%84%E3%80%82%0D%0A%0D%0A%E2%94%80%E2%94%80%E2%94%80%E2%94%80%E2%94%80%E2%94%80%E2%94%80%E2%94%80%0D%0A%23%E3%82%AD%E3%83%83%E3%83%88%E4%BC%9D%E3%82%8F%E3%82%8B%E3%82%A8%E3%83%BC%E3%83%AB%E3%81%AE%E8%BC%AA%0D%0A%22%E3%82%AD%E3%83%83%E3%83%88%E3%82%AB%E3%83%83%E3%83%88%22%E3%82%92%E9%80%9A%E3%81%98%E3%81%A6%E3%80%81%E5%8C%BB%E7%99%82%E5%BE%93%E4%BA%8B%E8%80%85%E3%81%AE%E6%96%B9%E3%80%85%E3%81%AB%E3%82%A8%E3%83%BC%E3%83%AB%E3%82%92%E5%B1%8A%E3%81%91%E3%82%88%E3%81%86%0D%0A%E2%96%BC%E8%A9%B3%E7%B4%B0%E3%81%AF%E3%81%93%E3%81%A1%E3%82%89%0D%0A&url=https://nestle.jp/brand/kit/kitkatyell/" class="event__twitter" target="_blank">
              <picture>
                <source media="(min-width: 768px)" srcset="/brand/kit/kitkatyell/assets/images/pages/index/event_button_md.png">
                <img src="/brand/kit/kitkatyell/assets/images/pages/index/event_button.png" alt="">
              </picture>
            </a>
          </div>
        </div>
      </div>

    </main><!-- .l-main -->

    <%- include('/footer') %>

  </div><!-- .l-page -->

  <script src="/brand/kit/kitkatyell/assets/scripts/vendors.js" defer></script>
  <script src="/brand/kit/kitkatyell/assets/scripts/pages/common.js" defer></script>
  <!-- <script src="/brand/kit/kitkatyell/assets/scripts/pages/index.js" defer></script> -->

  <%- include('/gtm-body-bottom') %>
</body>

</html>
