<button class="page-top-anchor" data-scroll>
  <picture>
    <source media="(min-width: 768px)" srcset="">
    <img src="/brand/kit/kitkatyell/assets/images/pages/common/page-top-anchor.png" alt="TOPへ" width="48" height="33">
  </picture>
</button>
<footer class="l-footer">
  <figure class="l-footer__logo"><img src="/brand/kit/kitkatyell/assets/images/pages/common/footer_logo.png" alt="KitKat"></figure>
  <ul class="l-footer__sns">
    <li class="l-footer__sns-item"><a href="https://www.instagram.com/kitkat_japan_official/" target="_blank" class="l-footer__sns-link"><img src="/brand/kit/kitkatyell/assets/images/pages/common/footer_icon01.svg" alt="instagram"></a></li>
    <li class="l-footer__sns-item"><a href="https://www.facebook.com/kitkat.japan/" target="_blank" class="l-footer__sns-link"><img src="/brand/kit/kitkatyell/assets/images/pages/common/footer_icon02.svg" alt="facebook"></a></li>
    <li class="l-footer__sns-item"><a href="https://twitter.com/KITKATJapan" target="_blank" class="l-footer__sns-link"><img src="/brand/kit/kitkatyell/assets/images/pages/common/footer_icon03.svg" alt="twitter"></a></li>
    <li class="l-footer__sns-item"><a href="https://www.youtube.com/channel/UC3tkan9Ml07VHX8ztozVrJQ" target="_blank" class="l-footer__sns-link"><img src="/brand/kit/kitkatyell/assets/images/pages/common/footer_icon04.svg" alt="youtube"></a></li>
  </ul>
  <ul class="l-footer__list">
    <li class="l-footer__item"><a href="https://www.nestle.co.jp/" target="_blank" class="l-footer__link">ネスレのホームへ</a> <a href="https://www.nestle.co.jp/aboutus/" target="_blank" class="l-footer__link">企業情報</a> <a href="https://nestle.jp/faq/" target="_blank" class="l-footer__link">お問合せ</a> <a href="https://nestle.jp/a_web/" target="_blank" class="l-footer__link">サイトの運営方針</a> <a href="https://nestle.jp/privacy/" target="_blank" class="l-footer__link">個人情報保護方針</a> <a href="https://nestle.jp/member/" target="_blank" class="l-footer__link">会員サービス</a> <a href="https://nestle.jp/sitemap/" target="_blank" class="l-footer__link">サイトマップ</a></li>
  </ul>
  <div class="l-footer__block">
    <p class="l-footer__copy"><small>Copyright © Nestle Group All Rights Reserved.</small></p>
  </div><a href="https://www.nestle.co.jp/" target="_blank" class="l-footer__logo-link"><img src="/brand/kit/kitkatyell/assets/images/pages/common/nestle_logo.svg" alt="Nestle"></a>
</footer>
