<header class="l-header">
  <p class="l-header__logo"><img src="/brand/kit/kitkatyell/assets/images/pages/common/logo.png" alt="" width="74" height="51"></p>
  <button class="l-header__button" id="js-header-trigger"><img src="/brand/kit/kitkatyell/assets/images/pages/common/header_button.png" alt="" width="60" height="60"></button>
  <div class="l-header__menu" id="js-header-target">
    <button class="l-header__menu-close" id="js-header-close"></button>
    <div class="g-menu">
      <div class="g-menu__inner">
        <p class="home"><a href="/brand/kit/kitkatyell/"><img src="/brand/kit/kitkatyell/assets/images/pages/common/menu_text_home.svg" alt="HOME" width="45.5" height="11.5"></a></p>
        <ul class="link-list">
          <li class="link-list__item"><a href="/brand/kit/kitkatyell/#Concept" class="link"><img src="/brand/kit/kitkatyell/assets/images/pages/common/menu_text_concept.svg" alt="CONCEPT" width="75" height="11.5"></a></li>
          <li class="link-list__item"><a href="/brand/kit/kitkatyell/#Product" class="link"><img src="/brand/kit/kitkatyell/assets/images/pages/common/menu_text_product.svg" alt="新商品紹介" width="73" height="13.5"></a></li>
          <li class="link-list__item">
            <a href="/brand/kit/kitkatyell/#Movie" class="link"><img src="/brand/kit/kitkatyell/assets/images/pages/common/menu_text_tvcm.svg" alt="TVCM" width="43.5" height="11.5"></a>
            <div class="banner">
              <a href="/brand/kit/kitkatyell/#Baton" class="banner__link">
                <div class="banner__image"><img src="/brand/kit/kitkatyell/assets/images/pages/common/menu_banner_cm.jpg" alt="" width="93" height="93"></div>
                <div class="banner__content"><p class="text">WEB限定”キットカット”メッセージバトン動画公開中！</p></div>
              </a>
            </div>
          </li>
          <li class="link-list__item">
            <a href="/brand/kit/kitkatyell/#Campaign" class="link"><img src="/brand/kit/kitkatyell/assets/images/pages/common/menu_text_campaign.svg" alt="キャンペーン" width="73.5" height="11.5"></a>
            <div class="banner">
              <a href="/brand/kit/kitkatyell/#Campaign01" class="banner__link">
                <span class="banner__deco"><img src="/brand/kit/kitkatyell/assets/images/pages/common/menu_banner_campaign01_deco.png" alt="期間:1.18〜1.31" width="97" height="31"></span>
                <div class="banner__image"><img src="/brand/kit/kitkatyell/assets/images/pages/common/menu_banner_campaign01.jpg" alt="" width="93" height="93"></div>
                <div class="banner__content"><p class="text">SNSで「#キットカットでJO1に伝えよう」キャンペーン</p></div>
              </a>
            </div>
            <div class="banner">
              <a href="/brand/kit/kitkatyell/#Campaign02" class="banner__link">
                <span class="banner__deco"><img src="/brand/kit/kitkatyell/assets/images/pages/common/menu_banner_campaign02_deco.png" alt="期間:2.1〜2.14" width="97" height="31"></span>
                <div class="banner__image"><img src="/brand/kit/kitkatyell/assets/images/pages/common/menu_banner_campaign02.jpg" alt="" width="93" height="93"></div>
                <div class="banner__content"><p class="text">SNSで『#最高のキットカットの渡し方』キャンペーン</p></div>
              </a>
            </div>
            <div class="banner">
              <a href="/brand/kit/kitkatyell/#Campaign03" class="banner__link">
                <span class="banner__deco"><img src="/brand/kit/kitkatyell/assets/images/pages/common/menu_banner_campaign03_deco.png" alt="期間:2.1〜2.14" width="97" height="31"></span>
                <div class="banner__image"><img src="/brand/kit/kitkatyell/assets/images/pages/common/menu_banner_campaign03.jpg" alt="" width="93" height="93"></div>
                <div class="banner__content"><p class="text">対象の”キットカット”を購入して、プレゼントをゲットしよう！</p></div>
              </a>
            </div>
          </li>
        </ul>

        <dl class="mail-order">
          <dt class="mail-order__heading"><img src="/brand/kit/kitkatyell/assets/images/pages/common/menu_text_mailorder.png" alt="" width="127" height="15.5"></dt>
          <dd class="mail-order__content">
            <div class="banner">
              <a href="/brand/kit/kitkatyell/#Campaign04" class="banner__link">
                <span class="banner__deco"><img src="/brand/kit/kitkatyell/assets/images/pages/common/menu_banner_mailorder_deco.png" alt="期間:2.1〜2.14" width="97" height="31"></span>
                <div class="banner__image"><img src="/brand/kit/kitkatyell/assets/images/pages/common/menu_banner_mailorder.jpg" alt="" width="93" height="93"></div>
                <div class="banner__content"><p class="text">ネスレ通販限定商品を購入して、JO1エールを楽しもう！</p></div>
              </a>
            </div>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</header>
