body {
  background: url('/assets/images/pages/common/pattern02.png') 0 / 15px;

  @include media-breakpoint-up(md) {
    background-size: auto;
  }
}

.l-page {
  @include media-breakpoint-down(sm) {
    width: 375px;
    margin: 0 auto;
  }
}

img {
  @include media-breakpoint-up(md) {
    width: auto;
    height: auto;
  }
}
